.heading {
    font-weight: 700;
    font-size: 15px;
    color: $primary;
    line-height: 0.8;
    margin: 0 0 35px;
    position: relative;
    padding: 0 0 13px;
    text-transform: capitalize;

    &::after {
        content: "";
        @include absolute;
        width: 55px;
        height: 7px;
        top: 50px;
        background-image: url("../../images/heading.png");
        background-size: contain;
    }
}